.form-question {
    display: flex;
    flex-direction: column;
}

.form-question input {
    border: none;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}